# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Python
__pycache__/
*.pyc
.venv/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Node
node_modules/
dist/
build/
.pnpm-store/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
.terraform.lock.hcl

# Environment files
.env
.env.*
!.env.example

# dbt
dbt_packages/
target/
logs/

# Docker
*.log

# Misc
coverage/
tmp/
.cache/
.dagflow/
generated_exports/
source_landing/
